__pycache__
*.sqlite3

# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore Dockerfiles
.dockerignore
Dockerfile
Dockerfile.prod